<table>
  <% var i; for (i=0; i < entrene.length; i++) { %>
    <tr>
        <td><a href="/entrenes/<%= entrene[i].id %>"><%= entrene[i].entrenamiento %> </a></td>
        <td><a href="/entrenes/<%=entrene[i].id%>/edit"><button>Editar</button></a></td>
        <td>
            <form method="post" action="/entrenes/<%= entrene[i].id %>?_method=delete">
                <button type="submit" onclick="return confirm('Borrar: <%= entrene[i].entrenamiento %>');">Borrar</button>

            </form>


            </td>
    </tr>
  <% } %>
</table>


<a href="/entrenes/new"><button type="button">Crear Entrenamiento</button></a>






