<form method="get" action="/entrenes/<%= entrene.id %>">
    <h1><%=entrene.titulo%></h1>
        <p><br>
    <%=entrene.entrenamiento%>
        <p>
</form>
<br>
<p>
    <a href="/entrenes/<%=entrene.id%>/comments/new">
        <button>Nuevo Comentario</button>
    </a>
</p>
<br>
<p><strong>Comentarios:</strong>
</p>
<%for(index in entrene.comments){%>
    <p>-
        <%=entrene.comments[index].texto%>
    </p>
    <%}%>

